#calculator {
    border: 1px solid rgb(151, 142, 142);
    border-radius: 5px;
    width: 200px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#display {
    margin: 10px !important;
    width: 85%;
    margin: 3px;
    font-size: 30px;
}

.button {
    width: 45px;
    height: 45px;
    margin: 3px;
}